<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <meta property="og:title" content="<%=title%>" />
    <meta name="twitter:title" content="<%=title%>" />
    <meta name="description" content="<%=description %>" />
    <meta property="og:description" content="<%=description %>" />
    <meta name="twitter:description" content="<%=description %>" />
    <link rel="stylesheet" href="./hackclub.css" />
</head>
<body>
<center>
    <br>
    <header>
        <h1 class="ultratitle">Hackclub spotify</h1>
        <!-- <p class="headline">Looking for a basic website template that includes Hack Club's theme CSS? Look no further!</p> -->
      </header>
    <div>
        <div class="card container">
            <!-- <h2 class="headline"></h2> -->
           <p>
            This is a bot which will contribute to the spotify playlist which is for the hackclub community!
            <br>
            Note: WIP
           </p>
          </div>
      <footer>
        <a href="/login">Login Page</a>
        <a href="https://open.spotify.com/playlist/3gRv97fvllFFLVdCH6XzsE?si=eUQm8275QdyMquBbNdPVHA">Check out the playlist</a>
      </footer>
    </div>
</center>
</body>
</html>